@font-face {
    font-family: denseRegular;
    src: url(dense-regular.otf);
}

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
    font-family: denseRegular;
	font-size: 250%;
}

h2 {
    color: white;
    text-align: center;
    font-family: denseRegular;
	font-size: 250%;
}
