@font-face {
    font-family: denseRegular;
    src: url(dense-regular.otf);
}

body {
    background-color: lightblue;
}

div {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 50%;
	height: 28%;
	margin: auto;
}

#MitraLight {
    color: white;
    text-align: center;
    font-family: denseRegular;
	font-size: 500%;
	position: absolute;
	bottom: 200px;
}

#Technologies {
    color: white;
    text-align: center;
    font-family: denseRegular;
	font-size: 390%;
	position: absolute;
	bottom: 70px;
}

#ComingSoon {
    color: white;
    text-align: center;
    font-family: denseRegular;
	font-size: 145%;
	position: absolute;
	bottom: -70px;
}